* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background: #f3f5fc;
}

.output {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

header {
  height: 96px;
  width: 50%;
}

#logo {
  object-fit: cover;
}

span {
  display: block;
  color: darkgray;
}

.input textarea{
  background-color: #f3f5fc;;
  border-color: #f3f5fc;
  width: 88%;
  height: 350px;
  margin: 64px 6%;
  font-size: 32px;
  color: darkblue;
} 

.input textarea::placeholder {
  color: darkblue;
}
