html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.input {
  background: #fff;
}

.output {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

header {
  height: 96px;
  width: 100%;
  background: #f3f5fc;
  padding-bottom: 110px;
}

#logo {
  height: 100%;
  object-fit: cover;
}
